<%= form_with url: admin_search_purchases_path, method: :get, class: "input-with-button", style: "margin-bottom: 1rem;" do |f| %>
  <%= f.hidden_field :query, value: params[:query] %>
  <div class="input">
    <%= f.text_field :product_title_query, placeholder: "Filter by product title", value: params[:product_title_query] %>
  </div>
    <%= f.select :purchase_status,
        options_for_select([
          ["Any status", ""],
          ["Chargeback", "chargeback"],
          ["Refunded", "refunded"],
          ["Failed", "failed"],
        ], params[:purchase_status])
    %>
  <button type="submit" class="button primary">
    <span class="icon icon-solid-search"></span>
  </button>
  <% if params[:product_title_query].present? || params[:purchase_status].present? %>
    <%= link_to "Clear", admin_search_purchases_path(query: params[:query]), class: "button secondary" %>
  <% end %>
<% end %>
