<div class="paragraphs">
  <%= render("filter_form") %>

  <table>
    <thead>
      <tr>
        <th>Purchase</th>
        <th>By</th>
      </tr>
    </thead>
    <tbody>
      <% @purchases.each do |purchase| %>
        <tr>
          <td data-label="Purchase">
            <%= link_to(purchase.formatted_display_price, admin_purchase_path(purchase)) %>
            <%= " + #{purchase.formatted_gumroad_tax_amount} VAT" if purchase.gumroad_responsible_for_tax? %>
            <%= link_to_unless_current(h(purchase.link.name), admin_link_url(purchase.link), title: purchase.link.id) %>
            <%= purchase.variants_list %>
            <%= link_to purchase.link.long_url, target: "_blank", class: "no-underline" do %>
              <span class="icon icon-arrow-up-right-square"></span>
            <% end %>
            <ul class="inline">
              <% purchase_states(purchase).each do |state| %>
                <li><%= state %></li>
              <% end %>
            </ul>
            <div class="text-sm">
              <ul class="inline">
                <% purchase_refund_policy = purchase.purchase_refund_policy %>
                <% if purchase_refund_policy.present? %>
                  <li>Refund policy: <%= purchase_refund_policy.title %>
                    <%= purchase_refund_policy_tooltip(purchase_refund_policy) %>
                  </li>
                <% end %>
                <li>Seller: <%= copy_to_clipboard(purchase.seller.email) %></li>
                <% if purchase.seller.support_email.present? %>
                  <li>Seller support email: <%= copy_to_clipboard(purchase.seller.support_email) %></li>
                <% end %>
              </ul>
            </div>
          </td>
          <td data-label="By">
            <%= copy_to_clipboard(purchase.email) do %>
              <%= link_to(purchase.email, admin_search_purchases_path(query: purchase.email)) %>
            <% end %>
            <small>
              <%= format_datetime_with_relative_tooltip(purchase.created_at) %>
            </small>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @purchases, views_prefix: "admin" %>
</div>
