<% content_for :meta do %>
  <%= tag.link rel: "canonical", href: @canonical_url %>
  <%= tag.meta name: "description", content: @description %>

  <%= tag.meta property: "og:title", content: @title %>
  <%= tag.meta property: "og:description", content: @description %>
  <%= tag.meta property: "og:type", content: "website" %>
  <%= tag.meta property: "og:url", content: @canonical_url %>

  <%= tag.meta name: "twitter:card", content: "summary" %>
  <%= tag.meta name: "twitter:title", content: @title %>
  <%= tag.meta name: "twitter:description", content: @description %>
<% end %>

<% content_for :style do %>
  <%= stylesheet_pack_tag :help_center %>
<% end %>

<%= render "shared/recaptcha_script" unless user_signed_in? %>

<% content_for :content do %>
  <main>
    <header>
      <%= react_component "SupportHeader", props: { host: helper_widget_host, session: helper_session, new_ticket_url: user_signed_in? ? support_index_path(new_ticket: true) : help_center_root_path(new_ticket: true), recaptcha_site_key: user_signed_in? ? nil : GlobalConfig.get("RECAPTCHA_LOGIN_SITE_KEY") }, prerender: true %>
    </header>
    <section class="paragraphs">
      <%= yield %>
    </section>
  </main>
<% end %>

<%= render template: "layouts/application" %>
